/*.page-background {
    background-image: url('./images/background.jpeg'); /* Replace with the actual path to your image file 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }*/